@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-white bg-gray-900;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-blue-800 transition-colors;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-900 transition-colors;
}

.masked-img {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@layer base {
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
